/*----------------------------
--------- 1. General ---------
----------------------------*/

// @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Roboto:300,400,500,700');

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html,
html a,
body {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $font-primary;
  font-size: 14px;
  background-color: $default-gray;
  color: $default-text-color;
  line-height: 1.5;
  letter-spacing: 0.2px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $default-dark;
  font-family: $font-secondary;
  letter-spacing: 0.5px;
  font-weight: normal;
  line-height: 1.5;

  a {
    font-family: $font-secondary;
  }

  small {
    font-weight: 300;
    color: lighten($default-dark, 5%);
  }
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
}

p {
  font-family: $font-primary;
  color: $default-text-color;
  line-height: 1.9;
}

.lead {
  font-size: 18px;
}

ul {
  margin-bottom: 0px;
}

a {
  color: $default-info;

  &:hover,
  &:focus {
    text-decoration: none;
    color: darken($default-info, 10%);
  }

  &:focus {
    outline: none;
  }

  &.text-gray {
    &:hover,
    &:focus,
    &.active {
      color: $default-dark !important;
    }
  }
}

:focus {
  outline: none;
}

hr {
  border-top: 1px solid $border-color;
}

.font-primary {
  font-family: $font-primary;
}

.font-secondary {
  font-family: $font-secondary;
}

.text-link {
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.text-opacity {
  opacity: 0.85;
}

.text-white {
  color: $default-white !important;
}

.text-dark {
  color: $default-dark !important;
}

.text-gray {
  color: $default-text-color !important;
}

.text-primary {
  color: $default-primary !important;
}

.text-success {
  color: $default-success !important;
}

.text-info {
  color: $default-info !important;
}

.text-warning {
  color: $default-warning !important;
}

.text-danger {
  color: $default-danger !important;
}

.bg-white {
  background-color: $default-white !important;
}

.bg-dark {
  background-color: $default-dark !important;
}

.bg-gray {
  background-color: darken($default-gray, 3%) !important;
}

.bg-primary {
  background-color: $default-primary !important;
}

.bg-info {
  background-color: $default-info !important;
}

.bg-success {
  background-color: $default-success !important;
}

.bg-warning {
  background-color: $default-warning !important;
}

.bg-danger {
  background-color: $default-danger !important;
}

.bg-primary-inverse {
  @include background-opacity($default-primary, 0.1);
}

.bg-success-inverse {
  @include background-opacity($default-success, 0.1);
}

.bg-info-inverse {
  @include background-opacity($default-info, 0.1);
}

.bg-warning-inverse {
  @include background-opacity($default-warning, 0.1);
}

.bg-danger-inverse {
  @include background-opacity($default-danger, 0.1);
}

.bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.overlay-dark {
  position: relative;
  overflow: hidden;
  color: darken($default-white, 20%);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $default-white;
  }

  p {
    color: darken($default-white, 20%);
  }

  &:before {
    content: "";
    background-color: $default-dark;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    top: 0px;
    left: 0px;
    z-index: 2;
  }

  > div {
    position: relative;
    z-index: 3;
  }
}

blockquote {
  border-left: 0px;
  padding-left: 30px;
  position: relative;

  &:before {
    font-family: "themify";
    content: "\e67f";
    position: absolute;
    left: 0px;
    color: $default-dark;
  }
}

.fade {
  &.in {
    opacity: 1;
  }
}

.collapse {
  &.in {
    display: block;
  }
}

iframe {
  border: 0;

  @include screen-mobile {
    min-height: 175px !important;
    height: auto;
  }
}

@include print {
  body {
    font-size: 10px;
  }

  .mrg-top-30,
  .mrg-top-20 {
    margin-top: 15px !important;
  }

  .print-invisible {
    display: none;
  }
}

._center-items {
  display: flex;
  align-items: center;
  justify-content: center;
}
._right-items {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
._left-items {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

._en-construccion-bc {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("../../images/en-construccion.svg") no-repeat;
  width: 80vw;
  height: 80vh;
}

// ########## BREADCRUMBS ##########

.breadcrumbs__container {
  list-style: none;
  display: inline-flex;
  padding: 0 1rem;
  font-size: 0.85rem;
  margin: 0 0 2rem 0;
}

li.breadcrumbs__item:not(:last-child)::after {
  content: " / ";
}

li.breadcrumbs__item:first-child::before {
  content: "\f015";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: $facebook;
  font-size: 0.85rem;
  padding-right: 0.35em;
}
li.breadcrumbs__item {
  margin: 0 0.25rem 0 0;
  a {
    color: $default-info;
  }
  span {
  }
}
.breadcrumbs__item--active {
}

.invalid-feedback-ng-select {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
  text-align: right;
  display: block;
}

ng-select.is-invalid > .ng-select-container {
  border: 1px solid #dc3545 !important;
  border-radius: 0.25rem !important;
}
ng-select.is-invalid.ng-select-focused > .ng-select-container {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
}
.wrapper-breadcrumbs {
  margin: 1.25rem 0 0 0;
}

// side-nav-menu scrollable ps
.side-nav::-webkit-scrollbar,
.modal-static-body::-webkit-scrollbar,
.side-nav-menu::-webkit-scrollbar,
.container-fluid::-webkit-scrollbar,
.content::-webkit-scrollbar,
.box-list::-webkit-scrollbar {
  width: 0 !important;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
html {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

html::-webkit-scrollbar {
  width: 0px; /* For Chrome, Safari, and Opera */
}
